[Unit]
Description=Servicio de backup del sistema
After=network.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/sbin/backup_launcher.sh
